
		*{margin: 0; padding: 0;}
		html {scroll-behavior: smooth;}

		body { font-family: Georgia, 'Times New Roman', Times, serif;
	background-image: url(https://img.freepik.com/free-vector/elegant-blurred-background_1393-113.jpg?semt=ais_hybrid&w=740&q=80);
		background-size: cover;
	margin: 0px;}

		header {
			text-align: center; 
			margin-bottom: 30px;
			color: black;
		}
		nav {
			text-align: center;
			margin-bottom: 30px;
			padding: auto;
		}
		nav a { margin-right: 15px;
            text-decoration: none;
            color: black;
            text-align: center;
		text-decoration: underline;}

		img {
            max-width: 200px;
            border-radius: 5px;
            display: block;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;}

		h2 { text-align: center;
		margin-bottom: 15px;
		margin-left: auto;margin-right: auto;}

		p { text-align: center; font-size: medium; margin-bottom: 15px;margin-left: auto;margin-right: auto;}
 		
		table {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            border: 2px solid #000000;
            table-layout: fixed;
            border-collapse: collapse;  
            text-align: center;
        }

        form {
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            margin-bottom: 30px;
            box-sizing:border-box;
            background-color: rgba(255, 255, 255, 0.533);
            border-radius: 15px;
        }

        form label {
            margin-top: 20px;
            margin-left: 20px;
            display: block;
        }
        .form-control {
            width: 90%;
            margin-left: 15px;
            margin-bottom: 15px;
            padding: 8px;
            border: 1px solid #ffffff;
            border-radius: 5px;
        }

		section {
    background:  rgba(255, 255, 255, 0.533);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 15px;
    border: 1px solid  rgba(255, 255, 255, 0.533);
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);}
@media screen and (max-width: 768px) {
    .table, form {
        width: 50%;
        display: flexbox;
        box-sizing: border-box;
    }
}